:root {
  --black: #101113;
  --white: #eeeff1;
  --secoundaryFont: #aaadb8;
  --blue: #1976d2;
}
/* :root {
  --black: #191b1f;
  --white: #eeeff1;
  --secoundaryFont: #aaadb8;
  --blue: #1976d2;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: var(--white);
}
html {
  /* background-color: var(--white); */
  overflow-x: hidden;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: var(--white);
}
#root {
  overflow: hidden;
  margin: auto;
}
.container {
  overflow-x: hidden;
  max-width: 1366px;
  width: 100vw;
  margin: auto;
}
.max-h {
  max-height: 800px;
}

/* -=-=-=-=-=-=-=-=-=-=-=--=-=- */
/* stars */
.App {
  position: absolute;
  left: 0;
  top: 0;
}
.stars {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  background-color: var(--black);
}
/* -=-=-=-=-=-=-=-=-=-=-=--=-=- */

/* scroll bar */

::-webkit-scrollbar {
  width: 9px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--secoundaryFont);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--white);
  box-shadow: 0 0 5px var(--white);
  border-radius: 10px;
}

/* center */
.h-100vh {
  min-height: 100vh;
  height: 650px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header,
.ul,
.logo,
.li,
.logo > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Header */
.logo {
  font-family: "Courgette", cursive;
  font-size: 20px;
}
.header {
  padding: 0 50px;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* background-color: var(--black); */
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.185);
  z-index: 2;
}
.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  /* background: var(--white); */
  background: rgb(2, 115, 115);
  background: linear-gradient(
    90deg,
    rgba(2, 115, 115, 1) 0%,
    rgba(4, 191, 157, 1) 100%
  );
  transform-origin: 0%;
}
.ul .li a {
  text-decoration: none;
  color: var(--white);
}
.ul .li-dark a {
  color: var(--black);
}
.li,
.logo > div {
  width: fit-content;
  height: 40px;
  margin: 0 10px;
  white-space: nowrap;
}
.logo > div {
  width: fit-content;
}
.li-dark {
  background-color: var(--white);
  width: fit-content;
  padding: 5px 20px;
  border-radius: 8px;
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  .header {
    padding: 0 10px;
    height: 50px;
  }
  .li {
    display: none;
  }
  .li-dark {
    display: flex;
  }
}

/* ------------------------------------------------------ */
/* landing */
/* ------------------------------------------------------ */

.landing {
  width: 100vw;
  min-height: 100vh;
  height: 650px;

  /* display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-items: center;
  padding: 0 100px;
  gap: 0; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.me {
  border-radius: 10px;
  overflow: hidden;
}
.hi {
  width: 350px;
}
.hi-title {
  font-size: 70px;
}
.gradiant-text {
  background: linear-gradient(30deg, #027373, #04bf9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hi-desc {
  text-overflow: clip;
  color: var(--secoundaryFont);
  font-weight: 400;
  font-size: 20px;
}
@media screen and (max-width: 750px) {
  .landing {
    /* grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hi {
    /* align-self: flex-start; */
    width: 90%;
  }
  .me {
    align-self: flex-end;
  }
}
@media screen and (min-width: 900px) {
  .hi {
    justify-self: flex-start;
    margin-left: 30px;
  }
  .me {
    justify-self: flex-end;
  }
}

/* ------------------------------------------------------ */
/* about */
/* ------------------------------------------------------ */
.about {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 60% 40%;
  padding-top: 0 !important;
  overflow-y: hidden;
}
.career {
  width: 400px;
}
.career-title {
  font-size: 35px;
  font-weight: 600;
}
.career-desc {
  margin-top: 20px;
  color: var(--secoundaryFont);
  font-weight: 400;
  font-size: 20px;
}
.badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.badge {
  font-size: 15px;
  padding: 5px 7px;
  margin: 5px;
  box-shadow: 0 0 2px var(--white);
  border-radius: 7px;
}
@media screen and (max-width: 750px) {
  .about {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 100px !important;
  }
  .badges {
    align-self: flex-start;
    width: 90%;
  }
  .career {
    align-self: flex-end;
    width: 90%;
  }
  .career-desc {
    font-size: 16px;
  }
}
@media screen and (min-width: 890px) and (max-width: 1100px) {
  .about {
    padding: 0 50px !important;
  }
}

/* ---------------------------------------------------- */
/* works */
/* ---------------------------------------------------- */

.works {
  padding-top: 0 !important;
}
.under-development {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;

  font-size: 10px;
  background-color: rgb(233, 227, 144);
  color: var(--black);
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.card-title {
  height: 30px;
  color: var(--white);
}
.cards-tools .badge {
  color: var(--white);
}
.works-title {
  margin-top: 50px;
  font-size: 35px;
  font-weight: 600;
}
.card-body a {
  text-decoration: none;
  color: #1976d2;
  font-weight: 400;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

.card {
  height: fit-content;
  margin: 20px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.card-mob {
  width: 200px;
  min-height: 250px;
}
.card-web {
  width: 300px;
  min-height: 250px;
}
.card-body-m {
  /* min-height: 230px;

  display: flex;
  flex-direction: column;
  justify-content: center; */
}
.card-body-w {
}
.card-body {
  backdrop-filter: blur(10px);
  /* background-color: rgba(0, 0, 0, 0.185); */
  background: rgb(0, 35, 51);
  background: linear-gradient(
    180deg,
    #172026 0%,
    #172026 96%,
    #027373 96%,
    #027373 100%
  );
  padding: 10px 10px 20px 10px;
  position: relative;
}
.card-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.card-img {
  overflow: hidden;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-img img {
  background-position: center;
  background-size: cover;
  width: 100%;
}
.card-badge {
  font-size: 13px;
  font-weight: 500;
  color: var(--white);
  box-shadow: 0 0 2px var(--white);
}
.visit {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
/* ---------------------------------------------------- */
/* footer */
/* ---------------------------------------------------- */
.footer {
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0 !important;
}
.footer-title {
  font-size: 35px;
  font-weight: 600;
}
.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-links > * {
  margin: 15px;
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

/* rulers */
@media screen and (max-width: 800px) {
  .landing,
  .about,
  .works,
  .footer {
    padding: 20px;
  }
}
@media screen and (min-width: 801px) and (max-width: 900px) {
  .landing,
  .about,
  .works,
  .footer {
    padding: 50px;
  }
}
@media screen and (min-width: 900px) {
  .landing,
  .about,
  .works,
  .footer {
    padding: 150px;
  }
}
